/*
ALL
DAWUTI
*/
:root {
  --breakpoint-xs: 576px;
  --breakpoint-sm: 768px;
  --breakpoint-md: 992px;
  --breakpoint-lg: 1200px;
  --breakpoint-xl: 1600px;
  --breakpoint-xxl: 2400px;
}

/* .wrapper-fluid {
  //width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding-left: var(--safe-area, 15px);
  padding-right: var(--safe-area, 15px);
  @include mq-md {
    padding-left: var(--safe-area, 60px);
    padding-right: var(--safe-area, 60px);
  }
} */
@font-face {
  font-family: "DM Serif Display";
  src: url("../fonts/DMSerifDisplay/DMSerifDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost/Jost-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
:root {
  --font-primary: "Jost", serif;
  --font-headings: "DM Serif Display", serif;
  --safe-area: 30px;
  --safe-area-xs: 20px;
  --safe-area-lg: 40px;
  --safe-area-xl: 80px;
  --html-fs: 16px;
  --html-lh: 21px;
  --sv: 5;
  --s: calc(var(--sv) * 1px);
  --cols: 12;
  --gutter-v: calc(var(--sv) * 2);
  --gutter: calc(var(--gutter-v) * 1px);
  --s1: 5px;
  --s2: 10px;
  --s3: 15px;
  --s4: 20px;
  --s5: 25px;
  --s6: 30px;
  --s7: 35px;
  --s8: 40px;
  --s9: 45px;
  --s10: 50px;
  --lh-1: 1;
  --lh-11: 1.1;
  --lh-113: 1.13;
  --lh-115: 1.15;
  --lh-116: 1.16;
  --lh-12: 1.2;
  --lh-13: 1.3;
  --lh-14: 1.4;
  --lh-15: 1.5;
  --lh-16: 1.6;
  --lh-18: 1.8;
  --fs-base: 0.875rem;
  --lh-base: var(--lh-15);
  --h1-fs: 2rem;
  --h1-lh: var(--lh-1);
  --h2-fs: 1.5625rem;
  --h2-lh: var(--lh-115);
  --h3-fs: 1.375rem;
  --h3-lh: var(--lh-115);
  --h4-fs: 1.25rem;
  --h4-lh: var(--lh-115);
  --h5-fs: 1.125rem;
  --h5-lh: var(--lh-115);
  --h6-fs: 1rem;
  --h6-lh: var(--lh-1135);
  --site-background: #f8f8f8;
  --color-primary: #CDA274;
  --color-brand: #0f0f0f;
  --color-text: #292F36;
}
@media screen and (min-width: 992px) {
  :root {
    --fs-base: 1rem;
    --lh-base: var(--lh-14);
  }
}
@media screen and (min-width: 992px) {
  :root {
    --h1-fs: 3.4375rem;
  }
}
@media screen and (min-width: 992px) {
  :root {
    --h2-fs: 2.5rem;
    --h2-lh: var(--lh-11);
  }
}
@media screen and (min-width: 992px) {
  :root {
    --h3-fs: 2.25rem;
  }
}
@media screen and (min-width: 992px) {
  :root {
    --h4-fs: 1.875rem;
  }
}
@media screen and (min-width: 992px) {
  :root {
    --h5-fs: 1.625rem;
  }
}
@media screen and (min-width: 992px) {
  :root {
    --h6-fs: 1.375rem;
  }
}

body,
html {
  font-family: var(--font-primary);
  font-size: var(--html-fs);
  line-height: 21px;
  color: var(--color-text);
  background-color: var(--site-background);
  margin: 0;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: var(--font-headings);
}

h1,
.h1 {
  font-size: var(--h1-fs);
  line-height: var(--h1-lh);
  font-weight: 900;
}
@media screen and (min-width: 992px) {
  h1,
  .h1 {
    margin-bottom: calc(var(--s) * 10);
  }
}

h2,
.h2 {
  font-size: var(--h2-fs);
  line-height: var(--h2-lh);
  font-weight: 900;
}

h3,
.h3 {
  font-size: var(--h3-fs);
  line-height: var(--h3-lh);
  font-weight: 900;
}

h4,
.h4 {
  font-size: var(--h4-fs);
  line-height: var(--h4-lh);
  font-weight: 700;
}

h5,
.h5 {
  font-size: var(--h5-fs);
  line-height: var(--h5-lh);
  font-weight: 700;
}

h6,
.h6 {
  font-size: var(--h6-fs);
  line-height: var(--h6-lh);
  font-weight: 700;
}

a {
  text-decoration: none;
  color: inherit;
}

p, span, a {
  margin: 0;
  padding: 0;
  font-size: var(--fs-base);
  line-height: var(--lh-base);
}

.btn {
  background-color: var(--color-primary);
  padding: 18px 24px;
  border-radius: 18px;
  color: var(--site-background);
  font-weight: 500;
  transition: 0.2s ease-in-out all;
}
@media screen and (min-width: 992px) {
  .btn {
    padding: 26px 48px;
  }
}

.btn:hover {
  background-color: #b1885d;
}

.btn-icon {
  max-width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--s);
}
.btn-icon .icon {
  transition: transform 0.2s linear;
  will-change: transform;
  width: var(--s3);
  height: auto;
}

.btn-icon:hover .icon {
  transform: scale(1.1) translateX(0.2em);
}

.wrapper-fluid {
  padding-left: var(--safe-area-xs);
  padding-right: var(--safe-area-xs);
}
@media screen and (min-width: 992px) {
  .wrapper-fluid {
    padding-left: var(--safe-area-lg);
    padding-right: var(--safe-area-lg);
  }
}
@media screen and (min-width: 1200px) {
  .wrapper-fluid {
    padding-left: var(--safe-area-xl);
    padding-right: var(--safe-area-xl);
  }
}

.site-header {
  padding-top: var(--s8);
  padding-bottom: var(--s6);
  background-color: var(--color-primary);
  border-bottom: 1px solid #b1885d;
}
.site-header .logo-wrap {
  display: flex;
  flex-direction: column;
}
.site-header .logo-wrap .brand-name {
  font-size: 36px;
  line-height: 1;
  margin: 0;
  color: var(--color-brand);
}
@media screen and (min-width: 992px) {
  .site-header .logo-wrap .brand-name {
    font-size: 40px;
  }
}
.site-header .logo-wrap .brand-desc {
  font-family: var(--font-headings);
  font-weight: 900;
  font-size: 14px;
  margin-top: 0px;
  color: var(--color-brand);
}
@media screen and (min-width: 992px) {
  .site-header .logo-wrap .brand-desc {
    font-size: 18px;
  }
}

.page-content {
  padding-top: var(--s8);
}
.page-content .featured {
  border-radius: 40px 0px 40px 0px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.13);
  /* h1 {
      font-size: 25px;
      color: #f8f8f8;
      margin: 0;
      @include mq-md {
          font-size: 60px;
      }
  }
  h2 {
      font-size: 14px;
      font-weight: 600;
      color: #f8f8f8;
      margin: 0;
      @include mq-md {
          font-size: 25px;
      }
  } */
}
@media screen and (min-width: 992px) {
  .page-content .featured {
    border-radius: 100px 0px 100px 0px;
  }
}
.page-content .featured .featured-background {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow-clip-margin: unset;
  overflow: visible;
  z-index: -1;
}
.page-content .featured .featured-content {
  width: 100%;
  height: 100%;
  padding: var(--s9) var(--s6);
  background-color: rgba(0, 0, 0, 0.432);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--s8);
}
.page-content .featured h3 {
  font-size: 26px;
  color: var(--site-background);
  text-align: right;
  margin: 0;
}
@media screen and (min-width: 992px) {
  .page-content .featured h3 {
    font-size: 70px;
  }
}
.page-content .featured h4 {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 400;
  color: var(--site-background);
  margin: 10px 0 15px 0;
  text-align: right;
}
@media screen and (min-width: 992px) {
  .page-content .featured h4 {
    font-size: 20px;
  }
}
.page-content .services {
  display: flex;
  flex-direction: column;
  margin-top: calc(var(--s10) * 1.5);
  gap: var(--s6);
}
.page-content .services .service {
  display: flex;
  flex-direction: column;
  gap: var(--s2);
  text-align: center;
}
.page-content .services .service h4 {
  margin: 0;
}
.page-content .who-we-are {
  display: flex;
  flex-direction: column;
  margin-top: calc(var(--s10) * 1.5);
  gap: var(--s6);
}
.page-content .who-we-are .who-image {
  max-width: 100%;
}
.page-content .who-we-are .who-content {
  display: flex;
  flex-direction: column;
  gap: var(--s3);
}
.page-content .gallery {
  display: flex;
  flex-direction: column;
  margin-top: calc(var(--s10) * 1.5);
  gap: var(--s6);
}
.page-content .gallery .gallery-item {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
}
.page-content .gallery .gallery-item .gallery-photo {
  position: absolute;
  object-fit: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.contact-footer {
  padding-top: var(--s8);
  padding-bottom: var(--s8);
  background-color: var(--color-primary);
  border-top: 1px solid #b1885d;
  margin-top: calc(var(--s10) * 1.5);
}
.contact-footer .brand-footer .logo > .brand-logo {
  max-width: 100px;
  height: auto;
}
.contact-footer .brand-footer .brand {
  display: flex;
  flex-direction: column;
}
.contact-footer .brand-footer .brand .brand-name {
  font-family: var(--font-headings);
  font-size: 36px;
  line-height: 1;
  margin: 0;
  color: var(--color-brand);
}
@media screen and (min-width: 992px) {
  .contact-footer .brand-footer .brand .brand-name {
    font-size: 40px;
  }
}
.contact-footer .brand-footer .brand .brand-desc {
  font-family: var(--font-headings);
  font-weight: 900;
  font-size: 14px;
  margin-top: 0px;
  color: var(--color-brand);
}
@media screen and (min-width: 992px) {
  .contact-footer .brand-footer .brand .brand-desc {
    font-size: 18px;
  }
}
.contact-footer .contact-info {
  margin-top: var(--s4);
}
.contact-footer .contact-info h5 {
  margin-bottom: var(--s2);
}
.contact-footer .contact-info .phone-numbers {
  margin-top: var(--s2);
}

/*# sourceMappingURL=style.css.map */
