@import 'dawuti';

@font-face {
  font-family: "DM Serif Display";
  src: url("../fonts/DMSerifDisplay/DMSerifDisplay-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost/Jost-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@function stripUnit($value) {
  @return $value / ($value * 0 + 1);
}
@function rem($pxValue) {
  @return #{stripUnit($pxValue) / stripUnit($html-fs)}rem;
}

$safe-area: 30px;
$safe-area-xs: 20px;
$safe-area-lg: 50px;
$safe-area-xl: 100px;

$html-fs: 16px;
$html-lh: 21px;

:root {
  --font-primary: "Jost", serif;
  --font-headings: "DM Serif Display", serif;

  --safe-area: #{$safe-area};
  --safe-area-xs: #{$safe-area-xs};
  --safe-area-lg: #{$safe-area-lg};
  --safe-area-xl: #{$safe-area-xl};

  // Global HTML variables
  --html-fs: #{$html-fs};
  --html-lh: #{$html-lh};

  // Space
  $sv: 5;
  --sv: #{$sv};
  --s: calc(var(--sv) * 1px);
  --cols: 12;
  --gutter-v: calc(var(--sv) * 2);
  --gutter: calc(var(--gutter-v) * 1px);

  @for $i from 1 through 10 {
    --s#{$i}: #{$sv * $i}px;
  }

  //FONT SIZES
  --lh-1: 1;
  --lh-11: 1.1;
  --lh-113: 1.13;
  --lh-115: 1.15;
  --lh-116: 1.16;
  --lh-12: 1.2;
  --lh-13: 1.3;
  --lh-14: 1.4;
  --lh-15: 1.5;
  --lh-16: 1.6;
  --lh-18: 1.8;

  --fs-base: #{rem(14px)};
  --lh-base: var(--lh-14);
  @include mq-md {
    --fs-base: #{rem(16px)};
    --lh-base: var(--lh-14);
  }

  --h1-fs: #{rem(32px)};
  --h1-lh: var(--lh-1);
  @include mq-md {
    --h1-fs: #{rem(55px)};
  }

  --h2-fs: #{rem(25px)};
  --h2-lh: var(--lh-115);
  @include mq-md {
    --h2-fs: #{rem(40px)};
    --h2-lh: var(--lh-11);
  }

  --h3-fs: #{rem(22px)};
  --h3-lh: var(--lh-115);
  @include mq-md {
    --h3-fs: #{rem(36px)};
  }

  --h4-fs: #{rem(20px)};
  --h4-lh: var(--lh-115);
  @include mq-md {
    --h4-fs: #{rem(30px)};
  }

  --h5-fs: #{rem(18px)};
  --h5-lh: var(--lh-115);
  @include mq-md {
    --h5-fs: #{rem(26px)};
  }

  --h6-fs: #{rem(16px)};
  --h6-lh: var(--lh-1135);
  @include mq-md {
    --h6-fs: #{rem(22px)};
  }

  //COLORS
  --site-background: #f8f8f8;
  --color-primary: #CDA274;

  --color-brand: #292F36;
  --color-text: #292F36;

}


//COMMONS

body,
html {
  font-family: var(--font-primary);
  font-size: var(--html-fs);
  line-height: 21px;
  color: var(--color-text);
  background-color: var(--site-background);
  margin: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
  font-family: var(--font-headings);
}


h1,
.h1 {
  font-size: var(--h1-fs);
  line-height: var(--h1-lh);
  font-weight: 900;
  @include mq-md {
    margin-bottom: calc(var(--s) * 10);
  }
}

h2,
.h2 {
  font-size: var(--h2-fs);
  line-height: var(--h2-lh);
  font-weight: 900;
}

h3,
.h3 {
  font-size: var(--h3-fs);
  line-height: var(--h3-lh);
  font-weight: 900;
}

h4,
.h4 {
  font-size: var(--h4-fs);
  line-height: var(--h4-lh);
  font-weight: 700;
}

h5,
.h5 {
  font-size: var(--h5-fs);
  line-height: var(--h5-lh);
  font-weight: 700;
}

h6,
.h6 {
  font-size: var(--h6-fs);
  line-height: var(--h6-lh);
  font-weight: 700;
}

a {
  text-decoration: none;
  color: inherit;
}

p, span, a {
  margin: 0;
  padding: 0;
  font-size: var(--fs-base);
  line-height: var(--lh-base);
}

.btn {
  background-color: var(--color-primary);
  padding: 18px 24px;
  border-radius: 18px;
  color: var(--site-background);
  font-weight: 500;
  transition: 0.2s ease-in-out all;
}

.btn:hover {
  background-color: #b1885d;
}

.btn-icon {
  max-width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--s);
  .icon {
    transition: transform 0.2s linear;
    will-change: transform;
    width: var(--s3);
    height: auto;
  }
}

.btn-icon:hover {
  .icon {
    transform: scale(1.1) translateX(0.2em);;
  }
}

.wrapper-fluid {
  padding-left: var(--safe-area-xs);
  padding-right: var(--safe-area-xs);
  @include mq-md {
    padding-left: var(--safe-area-lg);
    padding-right: var(--safe-area-lg);
  }
  @include mq-lg {
    padding-left: var(--safe-area-xl);
    padding-right: var(--safe-area-xl);
  }
}