$wrapper-centered-xs: 540px !default;
$wrapper-centered-sm: 720px !default;
$wrapper-centered-md: 960px !default;
$wrapper-centered-lg: 1140px !default;
$wrapper-centered-xl: 1540px !default;
$wrapper-centered-xxl: 2340px !default;